{% extends "page.html" %}

{% macro th(label, key='', colspan=1) %}
<th data-sort="{{key}}" colspan="{{colspan}}">{{label}}
  {% if key %}
  <a href="#"><i class="fa {% if sort.get(key) == 'asc' -%}
                               fa-sort-asc
                           {%- elif sort.get(key) == 'desc' -%}
                               fa-sort-desc
                           {%- else -%}
                               fa-sort
                           {%- endif %} sort-icon">
  </i></a>
  {% endif %}
</th>
{% endmacro %}

{% block main %}

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Mondrian DataHub</a></li>
          <li class="breadcrumb-item active"><a href="/token">Resources</a></li>
        </ol>
      </div>
      <h4 class="page-title">Resource Management</h4>
    </div><!--end page-title-box-->
  </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
  <div class="col-sm-12">
    <div class="float-right d-flex flex-row align-items-center mb-3">
      <div class="text-muted">Updated: {{updatedTime}}</div>
      <a id="refresh" role="button" class="btn btn-outline-light waves-effect waves-light btn-xs ml-3" href="/admin">
        <i class="mdi mdi-refresh"></i>
        <span class="ml-1">Refresh</span>
      </a>
    </div>
  </div>
</div>

{% if nodesInfosList|length > 1 %}
<div class="row">
  <div class="col-12">
    <div class="card" id="resource-overall">
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
          {% for nodeInfo in nodesInfosList %}
          <tr>
            <td>
              {%- if tryGettingKey(nodeInfo, "cpuUsage") is not none -%}
              CPU: {{ convertFloat(nodeInfo.cpuUsage, '2', 100) }}%
              {%- else -%}
              CPU: N/A
              {%- endif -%}
            </td>
            <td>
              {%- if tryGettingKey(nodeInfo, "memoryUsage") is not none -%}
              Memory: {{ convertFloat(nodeInfo.memoryUsage, '2', 100) }}%
              {%- else -%}
              Memory: N/A
              {%- endif -%}
            </td>
            <td>
              {%- if tryGettingKey(nodeInfo, "diskUsage") is not none -%}
              Disk: {{ nodeInfo.diskUsage }}
              {%- else -%}
              Disk: N/A
              {%- endif -%}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-lg-3">
    <div class="card card-eco">
      <div class="card-body">
        <h4 class="title-text mt-0">Active Pods</h4>
        <div class="d-flex justify-content-between">
          <h3 class="font-weight-bold">
            {% if running[0] %}
            {{ running|length }}
            {% else %}
            N/A
            {% endif %}
          </h3>
          <i class="mdi mdi-hexagon-outline mdi-36px text-pink align-self-center"></i>
        </div>
        <p class="mb-0 text-muted text-truncate">The number of pods currently running</p>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
  <div class="col-lg-3">
    <div class="card card-eco">
      <div class="card-body">
        <h4 class="title-text mt-0">CPU usage</h4>
        <div class="d-flex justify-content-between">
          <h3 class="font-weight-bold">
            {% if nodesInfosList[0] %}
            {{ convertFloat(nodesInfosList[0].cpuUsage, '2', 100) }}%
            {% else %}
            N/A
            {% endif %}
          </h3>
          <i class="mdi mdi-memory mdi-36px text-secondary align-self-center"></i>
        </div>
        <p class="mb-0 text-muted text-truncate">The CPU load of all running pods</p>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
  <div class="col-lg-3">
    <div class="card card-eco">
      <div class="card-body">
        <h4 class="title-text mt-0">Memory usage</h4>
        <div class="d-flex justify-content-between">
          <h3 class="font-weight-bold">
            {% if nodesInfosList[0] %}
            {{ convertFloat(nodesInfosList[0].memoryUsage, '2', 100) }}%
            {% else %}
            N/A
            {% endif %}
          </h3>
          <i class="mdi mdi-view-week mdi-36px text-warning align-self-center"></i>
        </div>
        <p class="mb-0 text-muted text-truncate">The amount of memory used by all running pods</p>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
  <div class="col-lg-3">
    <div class="card card-eco">
      <div class="card-body">
        <h4 class="title-text mt-0">Disk usage</h4>
        <div class="d-flex justify-content-between">
          <h3 class="font-weight-bold">
            {% if nodesInfosList[0] %}
            {{ convertFloat(nodesInfosList[0].diskUsage, '2', 100) }}%
            {% else %}
            N/A
            {% endif %}
          </h3>
          <i class="mdi mdi-content-save mdi-36px text-success align-self-center"></i>
        </div>
        <p class="mb-0 text-muted text-truncate">The amount of disk used by all running pods</p>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->
{% endif %}

<div class="row">
  <div class="col-12">
    <div class="card" id="resource-list">
      <div class="card-body">
        <h4 class="header-title mt-0">List</h4>
        <p class="text-muted mb-1">
          Resource' list
        </p>
        <div class="float-right mb-4">
          <button id="start-all-servers" role="button" class="btn btn-primary waves-effect waves-light" >Start All</button>
          <button id="stop-all-servers" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">Stop All</button>
<!--          <button id="shutdown-hub" role="button" class="btn btn-info px-3">Shutdown Hub</button>-->
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            {% block thead %}
            {{ th("User (%i)" % users|length, 'name') }}
            {{ th("Last Seen", 'last_activity') }}
            {{ th("CPU Usage", 'cpu_usage') }}
            {{ th("Memory Usage", 'memory_usage') }}
            {{ th("Disk Usage", 'disk_usage') }}
            {{ th("Running (%i)" % running|length, 'running', colspan=2) }}
            {% endblock thead %}
          </tr>
          </thead>
          <tbody>
          {% for u in users %}
          <tr class="user-row" data-user="{{u.name}}" data-admin="{{u.admin}}">
            {% block user_row scoped %}
            <td>{{u.name}}</td>
            <td>
              {%- if u.last_activity -%}
<!--              {{ u.last_activity.isoformat() + 'Z' }}-->
              {{ convertDateTimeToKoreaSeoul(u.last_activity) }}
              {%- else -%}
              Never
              {%- endif -%}
            </td>
            {% print%}
            {%- if tryGettingKey(podsMetricsMap, u.name) is not none -%}
            <td>
              {%- if tryGettingKey(podsMetricsMap[u.name], "cpuUsage") is not none -%}
              {{ convertFloat(podsMetricsMap[u.name].cpuUsage, '2', 1000) }}m
              {%- else -%}
              N/A
              {%- endif -%}
            </td>
            <td>
              {%- if tryGettingKey(podsMetricsMap[u.name], "memoryUsage") is not none -%}
              {{ formatBytes(podsMetricsMap[u.name].memoryUsage) }}
              {%- else -%}
              N/A
              {%- endif -%}
            </td>
            <td>
              {%- if tryGettingKey(podsMetricsMap[u.name], "diskUsage") is not none -%}
              {{ formatBytes(podsMetricsMap[u.name].diskUsage) }}
              {%- else -%}
              N/A
              {%- endif -%}
            </td>
            {%- else -%}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            {%- endif -%}
            <td>
              <button role="button" class="stop-server btn btn-xs btn-danger {% if not u.running %}d-none{% endif %}">stop server</button>
              <button role="button" class="start-server btn btn-xs btn-primary {% if u.running %}d-none{% endif %}">start server</button>
            </td>
            <td>
              {% if admin_access %}
              <a role="button" class="access-server btn btn-xs btn-primary {% if not u.running %}hidden{% endif %}">access server</a>
              {% endif %}
            </td>
            {% endblock user_row %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->


{% call modal('Delete User', btn_class='btn-danger delete-button') %}
  Are you sure you want to delete user <span class="delete-username">USER</span>?
  This operation cannot be undone.
{% endcall %}

{% call modal('Stop All Servers', btn_label='Stop All', btn_class='btn-danger stop-all-button') %}
  Are you sure you want to stop all your users' servers? Kernels will be shutdown and unsaved data may be lost.
{% endcall %}

{% call modal('Start All Servers', btn_label='Start All', btn_class='btn-primary start-all-button') %}
  Are you sure you want to start all servers? This can slam your server resources.
{% endcall %}

{% call modal('Shutdown Hub', btn_label='Shutdown', btn_class='btn-danger shutdown-button') %}
  Are you sure you want to shutdown the Hub?
  You can choose to leave the proxy and/or single-user servers running by unchecking the boxes below:
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-proxy-checkbox">Shutdown proxy
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-servers-checkbox">Shutdown single-user-servers
    </label>
  </div>
{% endcall %}

{% macro user_modal(name, multi=False) %}
{% call modal(name, btn_class='btn-primary save-button') %}
<div class="form-group">
  <{%- if multi -%}
    textarea
    {%- else -%}
    input type="text"
    {%- endif %}
    class="form-control username-input"
    placeholder="{%- if multi -%} usernames separated by lines{%- else -%} username {%-endif-%}">
  {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="admin-checkbox">Admin
  </label>
</div>
{% endcall %}
{% endmacro %}

{{ user_modal('Edit User') }}

{{ user_modal('Add Users', multi=True) }}

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["admin"]);
</script>
{% endblock %}
