{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block main %}

<!--<div class="error">-->
<!--  {% block h1_error %}-->
<!--  <h1>-->
<!--    {{status_code}} : {{status_message}}-->
<!--  </h1>-->
<!--  {% endblock h1_error %}-->
<!--  {% block error_detail %}-->
<!--  {% if message %}-->
<!--  <p>-->
<!--    {{message}}-->
<!--  </p>-->
<!--  {% endif %}-->
<!--  {% if message_html %}-->
<!--  <p>-->
<!--    {{message_html | safe}}-->
<!--  </p>-->
<!--  {% endif %}-->
<!--  {% if extra_error_html %}-->
<!--  <p>-->
<!--    {{extra_error_html | safe}}-->
<!--  </p>-->
<!--  {% endif %}-->
<!--  {% endblock error_detail %}-->
<!--</div>-->

<!-- Log In page -->
<div class="px-3">
<!--  <img src="../assets/images/404.jpg" alt="" class="d-block mx-auto mt-4" height="250">-->
  <div class="text-center auth-logo-text mb-4">
    <h2 class="mt-0 mt-5">{{status_code}} : {{status_message}}</h2>
      {% if message %}
      <h4 class="mt-0 mb-3">{{message}}</h4>
      {% endif %}
    <a href="/home" class="btn btn-sm btn-primary">Back to Dashboard</a>
  </div> <!--end auth-logo-text-->
</div><!--end /div-->

{% endblock %}

{% block script %}
  {{super()}}

  <script type="text/javascript">
    function _remove_redirects_from_url() {
      if (window.location.search.length <= 1) {
        return;
      }
      var search_parameters = window.location.search.slice(1).split('&');
      for (var i = 0; i < search_parameters.length; i++) {
        if (search_parameters[i].split('=')[0] === 'redirects') {
          // remote redirects from search parameters
          search_parameters.splice(i, 1);
          var new_search = '';
          if (search_parameters.length) {
            new_search = '?' + search_parameters.join('&');
          }
          var new_url = window.location.origin +
                        window.location.pathname +
                        new_search +
                        window.location.hash;
          window.history.replaceState({}, "", new_url);
          return;
        }
      }
    }

    _remove_redirects_from_url();
  </script>
{% endblock %}
