{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
          <li class="breadcrumb-item active"><a href="/home">Home</a></li>
        </ol>
      </div>
      <h4 class="page-title">Home</h4>
    </div><!--end page-title-box-->
  </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body met-pro-bg">
        <div class="met-profile">
          <div class="row">
            <div class="col-lg-4 align-self-center">
              <div class="met-profile-main">
                <div class="met-profile-main-pic">
                  <img src="{{static_url("assets/images/users/user-10.jpg") }}" alt="" class="rounded-circle">
                  <!--                                    <span class="fro-profile_main-pic-change">-->
                  <!--                                        <i class="fas fa-camera"></i>-->
                  <!--                                    </span>-->
                </div>
                <div class="met-profile_user-detail">
                  <h5 class="met-user-name">{{user.name}}</h5>
                  <p class="mb-0 met-user-name-post">Researcher</p>
                </div>
              </div>
            </div><!--end col-->
            <div class="col-lg-4 ml-auto personal-detail-wrapper">
              <ul class="list-unstyled personal-detail">
                <li class=""><i class="mdi mdi-clock-outline mr-2 text-info font-18"></i> <b> Created </b> : {{ convertDateTimeToKoreaSeoul(user.created) }}</li>
                <li class="mt-2"><i class="mdi mdi-clock-outline text-info font-18 mt-2 mr-2"></i> <b> Last login </b> :
                  {% if user.last_activity is not none %}
                  {{ convertDateTimeToKoreaSeoul(user.last_activity) }}
                  {% else %}
                  None
                  {%endif %}
                </li>
                <!--                                <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li>-->
              </ul>
            </div><!--end col-->
          </div><!--end row-->
        </div><!--end f_profile-->
      </div><!--end card-body-->
      <div class="card-body ">
        <div class="d-flex flex-row justify-content-between">
          <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="general_detail_tab" data-toggle="pill" href="#general_detail">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings_detail_tab" data-toggle="pill" href="#settings_profile">Profile</a>
            </li>
          </ul>
          <div>
            {% if not user.active %}
            <a id="start" role="button" class="btn btn-primary waves-effect waves-light" href="{{ url }}">
              <i class="mdi mdi-power mr-2"></i>Start My Server
            </a>
            {% else %}
            <a id="start" role="button" class="btn btn-secondary waves-effect waves-light" href="{{ url }}">
              <i class="mdi mdi-arrow-right-bold mr-2"></i>My Server
            </a>
            {% endif %}
            {% if user.running %}
            <button id="stop" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">
              <i class="mdi mdi-power mr-2"></i>Stop My Server
            </button>
            {% endif %}
          </div>
        </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->

<div class="row">
  <div class="col-12">
    <div class="tab-content detail-list" id="pills-tabContent">
      <div class="tab-pane fade show active" id="general_detail">
        <div class="row">
          <div class="col-sm-12">
            <div class="float-right d-flex flex-row align-items-center mb-3">
              <div class="text-muted">Updated: {{updatedTime}}</div>
              <a id="refresh" role="button" class="btn btn-outline-light waves-effect waves-light btn-xs ml-3" href="/home">
                <i class="mdi mdi-refresh"></i>
                <span class="ml-1">Refresh</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-eco">
              <div class="card-body">
                <h4 class="title-text mt-0">Server</h4>
                <div class="d-flex justify-content-between">
                  {% if user.running %}
                  <h3 id="homeServerOn" class="font-weight-bold">On</h3>
                  <h3 id="homeServerOff" class="font-weight-bold d-none">Off</h3>
                  {% else %}
                  <h3 id="homeServerOn" class="font-weight-bold d-none">On</h3>
                  <h3 id="homeServerOff" class="font-weight-bold">Off</h3>
                  {% endif %}
                  {% if user.active %}
                  <i id="homeServerOnIcon" class="mdi mdi-server mdi-36px text-pink align-self-center"></i>
                  <i id="homeServerOffIcon" class="mdi mdi-server-off mdi-36px text-pink align-self-center d-none"></i>
                  {% else %}
                  <i id="homeServerOnIcon" class="mdi mdi-server mdi-36px text-pink align-self-center d-none"></i>
                  <i id="homeServerOffIcon" class="mdi mdi-server-off mdi-36px text-pink align-self-center"></i>
                  {% endif %}
                </div>
                <p class="mb-0 text-muted text-truncate">Whether the server is running</p>
              </div><!--end card-body-->
            </div><!--end card-->
          </div><!--end col-->
          <div class="col-lg-3">
            <div class="card card-eco">
              <div class="card-body">
                <h4 class="title-text mt-0">CPU usage</h4>
                <div class="d-flex justify-content-between">
                  {% if user.running %}
                    <h3 id="homeServerCpuNA" class="font-weight-bold d-none">
                      N/A
                    </h3>
                    <h3 id="homeServerCpuValue" class="font-weight-bold">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "cpuUsage") is not none -%}
                      {{ convertFloat(podsMetricsMap[user.name].cpuUsage, '2', 1000) }}m
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                    </h3>
                  {% else %}
                    <h3 id="homeServerCpuNA" class="font-weight-bold">
                      N/A
                    </h3>
                    <h3 id="homeServerCpuValue" class="font-weight-bold d-none">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "cpuUsage") is not none -%}
                      {{ convertFloat(podsMetricsMap[user.name].cpuUsage, '2', 1000) }}m
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                    </h3>
                  {% endif %}
                  <i class="mdi mdi-memory mdi-36px text-secondary align-self-center"></i>
                </div>
                <p class="mb-0 text-muted text-truncate">The CPU load of running server</p>
              </div><!--end card-body-->
            </div><!--end card-->
          </div><!--end col-->
          <div class="col-lg-3">
            <div class="card card-eco">
              <div class="card-body">
                <h4 class="title-text mt-0">Memory usage</h4>
                <div class="d-flex justify-content-between">
                  {% if user.running %}
                    <h3 id="homeServerMemoryNA" class="font-weight-bold d-none">
                      N/A
                    </h3>
                    <h3 id="homeServerMemoryValue" class="font-weight-bold">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "memoryUsage") is not none -%}
                      {{ formatBytes(podsMetricsMap[user.name].memoryUsage) }}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                    </h3>
                  {%- else -%}
                    <h3 id="homeServerMemoryNA" class="font-weight-bold">
                      N/A
                    </h3>
                    <h3 id="homeServerMemoryValue" class="font-weight-bold d-none">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "memoryUsage") is not none -%}
                      {{ formatBytes(podsMetricsMap[user.name].memoryUsage) }}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                  </h3>
                  {%- endif -%}
                  <i class="mdi mdi-view-week mdi-36px text-warning align-self-center"></i>
                </div>
                <p class="mb-0 text-muted text-truncate">The amount of memory used by running server</p>
              </div><!--end card-body-->
            </div><!--end card-->
          </div><!--end col-->
          <div class="col-lg-3">
            <div class="card card-eco">
              <div class="card-body">
                <h4 class="title-text mt-0">Disk usage</h4>
                <div class="d-flex justify-content-between">
                  {% if user.running %}
                    <h3 id="homeServerDiskNA" class="font-weight-bold d-none">
                      N/A
                    </h3>
                    <h3 id="homeServerDiskValue" class="font-weight-bold">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "diskUsage") is not none -%}
                      {{ formatBytes(podsMetricsMap[user.name].diskUsage) }}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                    </h3>
                  {% else %}
                    <h3 id="homeServerDiskNA" class="font-weight-bold">
                      N/A
                    </h3>
                    <h3 id="homeServerDiskValue" class="font-weight-bold d-none">
                      {%- if tryGettingKey(podsMetricsMap, user.name) is not none -%}
                      {%- if tryGettingKey(podsMetricsMap[user.name], "diskUsage") is not none -%}
                      {{ formatBytes(podsMetricsMap[user.name].diskUsage) }}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                      {%- else -%}
                      N/A
                      {%- endif -%}
                    </h3>
                  {% endif %}
                  <i class="mdi mdi-content-save mdi-36px text-success align-self-center"></i>
                </div>
                <p class="mb-0 text-muted text-truncate">The amount of disk used by running server</p>
              </div><!--end card-body-->
            </div><!--end card-->
          </div><!--end col-->
        </div><!--end row-->
      </div><!--end general detail-->

      <div class="tab-pane fade" id="settings_profile">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="card">
              <div class="card-body">
                <h4 class="mt-0 header-title">Profile</h4>
                <p class="text-muted mb-3">Edit my profile information
                </p>
                <form action="{{post_url}}" method="post" role="form">
                  <div class="form-group">
                    <label for="setFullName">Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                      </div>
                      <input type="text" id="setFullName" class="form-control" placeholder="Name" name="user_real_name" value={{userInformation.user_real_name}}>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="setEmail">Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                      </div>
                      <input type="email" id="setEmail" class="form-control" placeholder="Email" name="email" value={{userInformation.email}}>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="setPhoneNumber">Phone number</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="mdi mdi-cellphone"></i></span>
                      </div>
                      <input type="tel" id="setPhoneNumber" class="form-control" placeholder="Phone number" name="phone" value={{userInformation.phone}}>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="setOrganization">Organization</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="mdi mdi-city-variant-outline"></i></span>
                      </div>
                      <input type="text" id="setOrganization" class="form-control" placeholder="Organization" name="organization" value={{userInformation.organization}}>
                    </div>
                  </div>
                  <div class="float-left">
                    <button type="submit" class="btn btn-outline-primary waves-effect waves-light btn-sm">Save Changes</button>
                    <a role="button" class="btn btn-outline-danger waves-effect waves-light btn-sm" href="/home">
                      Cancel
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div> <!--end col-->
        </div><!--end row-->
      </div><!--end settings detail-->
    </div><!--end tab-content-->
  </div><!--end col-->
</div><!--end row-->


{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
