{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
          <li class="breadcrumb-item active"><a href="/home">Home</a></li>
        </ol>
      </div>
      <h4 class="page-title">Home</h4>
    </div><!--end page-title-box-->
  </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          {% if user.running %}
          <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a>
          {% endif %}
          <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ url }}">
            {% if not user.active %}
            Start
            {% endif %}
            My Server
          </a>
        </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->


{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
