{% extends "page.html" %}

{% block main %}


<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
          <li class="breadcrumb-item active"><a href="/token">Token</a></li>
        </ol>
      </div>
      <h4 class="page-title">Token</h4>
    </div><!--end page-title-box-->
  </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
  <div class="col-12">
    <div class="card" id="request-token">
      <div class="card-body">
        <h4 class="header-title mt-0">New API Token</h4>
        <form id="request-token-form" class="col-md-offset-3 col-md-6">
          <div class="form-group">
            <label for="token-note">Note</label>
            <input
                    id="token-note"
                    class="form-control"
                    placeholder="note to identify your new token">
            <small id="note-note" class="form-text text-muted">
              This note will help you keep track of what your tokens are for.
            </small>
          </div>
          <button type="submit" class="btn btn-primary waves-effect waves-light mb-3" >Request new API token</button>
        </form>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->

<div id="token-area" class="row" style="display: none;">
  <div class="col-12">
    <div class="card" id="new-token">
      <div class="card-body">
        <div  class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              Your new API Token
            </div>
            <div class="panel-body">
              <p class="lead text-center">
                <span id="token-result"></span>
              </p>
              <p>
                Copy this token. You won't be able to see it again,
                but you can always come back here to get a new one.
              </p>
            </div>
          </div>
        </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->


{% if api_tokens %}

<div class="row">
  <div class="col-12">
    <div class="card" id="api-tokens">
      <div class="card-body">
        <h4 class="header-title mt-0">API Tokens</h4>
        <p class="text-muted mb-4">
          These are tokens with full access to the JupyterHub API.
          Anything you can do with JupyterHub can be done with these tokens.
          Revoking the API token for a running server will require restarting that server.
        </p>
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Note</td>
            <td>Last used</td>
            <td>Created</td>
            <td>Action</td>
          </tr>
          </thead>

          <tbody>
          {% for token in api_tokens %}
          <tr data-token-id="{{token.api_id}}">
            {% block token_row scoped %}
            <td>{{token.note}}</td>
            <td>
              {%- if token.last_activity -%}
              {{ convertDateTimeToKoreaSeoul(token.last_activity) }}
              {%- else -%}
              Never
              {%- endif -%}
            </td>
            <td>
              {%- if token.created -%}
              {{ convertDateTimeToKoreaSeoul(token.created) }}
              {%- else -%}
              N/A
              {%- endif -%}
            </td>
            <td>
              <button class="revoke-token-btn btn btn-xs btn-danger">revoke</button>
            </td>
            {% endblock token_row %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->

{% endif %}

{% if oauth_clients %}

<div class="row">
  <div class="col-12">
    <div class="card" id="authorized-applications">
      <div class="card-body">
        <h4 class="mt-0 header-title">Authorized Applications</h4>
        <p class="text-muted mb-4">
          These are applications that use OAuth with JupyterHub
          to identify users (mostly notebook servers).

          OAuth tokens can generally only be used to identify you,
          not take actions on your behalf.
        </p>
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Application</td>
            <td>Last used</td>
            <td>First authorized</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody>
          {% for client in oauth_clients %}
          <tr class="token-row"
              data-token-id="{{ client['token_id'] }}">
            {% block client_row scoped %}
            <td>
              {{ client['description'] }}
            </td>
            <td>
              {%- if client['last_activity'] -%}
              {{ convertDateTimeToKoreaSeoul(client['last_activity']) }}
              {%- else -%}
              Never
              {%- endif -%}
            </td>
            <td>
              {%- if client['created'] -%}
              {{ convertDateTimeToKoreaSeoul(client['created']) }}
              {%- else -%}
              N/A
              {%- endif -%}
            </td>
            <td>
              <button class="revoke-token-btn btn btn-xs btn-danger">revoke</button>
            </td>
              {% endblock client_row %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->

{% endif %}

{% endblock main %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["share/jupyterhub/templates/token-custom"]);
</script>
{% endblock script %}
